# Ignore all dotfiles and dotfolders in any directory
**/.*
# Ignore all node_modules directories
*/node_modules/
# Ignore all Python bytecode files
**/__pycache__/
# Allow the .gitignore file itself
!.gitignore